listing_builder/ppc-audit-workflow.json
{
  "name": "PPC Audit - Weekly Report (FREE Groq)",
  "nodes": [
    {"id": "n1", "name": "Test Manually", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 300], "parameters": {}},
    {"id": "n2", "name": "Weekly Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 500], "parameters": {"rule": {"interval": [{"field": "weeks", "triggerAtDay": [1], "triggerAtHour": 7}]}}},
    {"id": "n3", "name": "Calculate Dates", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [240, 400], "parameters": {"jsCode": "const now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(now.getDate() - 1);\nconst weekStart = new Date(yesterday);\nweekStart.setDate(yesterday.getDate() - 6);\nfunction fmtGads(d) {\n  return d.getFullYear().toString() + String(d.getMonth()+1).padStart(2,'0') + String(d.getDate()).padStart(2,'0');\n}\nfunction fmtMeta(d) { return d.toISOString().split('T')[0]; }\nreturn [{ json: { gads_start: fmtGads(weekStart), gads_end: fmtGads(yesterday), meta_since: fmtMeta(weekStart), meta_until: fmtMeta(yesterday), period_label: fmtMeta(weekStart) + ' to ' + fmtMeta(yesterday) } }];"}},
    {"id": "n4", "name": "Google Ads API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [500, 280], "onError": "continueRegularOutput", "parameters": {"method": "POST", "url": "=https://googleads.googleapis.com/v18/customers/{{ $env.GOOGLE_ADS_CUSTOMER_ID }}/googleAds:search", "authentication": "predefinedCredentialType", "nodeCredentialType": "googleAdsOAuth2Api", "sendBody": true, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "developer-token", "value": "={{ $env.GOOGLE_ADS_DEVELOPER_TOKEN }}"}]}, "bodyParameters": {"parameters": [{"name": "query", "value": "=SELECT campaign.name, campaign.status, metrics.impressions, metrics.clicks, metrics.ctr, metrics.conversions, metrics.cost_per_conversion, metrics.cost_micros, metrics.conversions_value, metrics.average_cpc, metrics.search_impression_share FROM campaign WHERE segments.date >= '{{ $json.gads_start }}' AND segments.date <= '{{ $json.gads_end }}' AND campaign.status = 'ENABLED' ORDER BY metrics.cost_micros DESC"}]}, "options": {}}},
    {"id": "n5", "name": "Meta Ads API", "type": "n8n-nodes-base.facebookGraphApi", "typeVersion": 1, "position": [500, 520], "onError": "continueRegularOutput", "parameters": {"node": "={{ $env.META_AD_ACCOUNT_ID }}", "edge": "insights", "graphApiVersion": "v21.0", "options": {"queryParametersJson": "={\"fields\": \"campaign_name,impressions,spend,clicks,cpc,cpm,ctr,actions,cost_per_action_type,frequency,reach\", \"time_range\": {\"since\": \"{{ $json.meta_since }}\", \"until\": \"{{ $json.meta_until }}\"}, \"level\": \"campaign\", \"limit\": \"200\"}"}}},
    {"id": "n6", "name": "Merge Results", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [760, 400], "parameters": {"mode": "append"}},
    {"id": "n7", "name": "Build AI Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1000, 400], "parameters": {"jsCode": "const dates = $('Calculate Dates').first().json;\nlet gadsResults = [];\ntry { gadsResults = $('Google Ads API').first().json.results || []; } catch(e) {}\nlet metaResults = [];\ntry { metaResults = $('Meta Ads API').first().json.data || []; } catch(e) {}\n\nconst gads = gadsResults.map(r => ({\n  campaign: r.campaign?.name || '?',\n  impressions: parseInt(r.metrics?.impressions || 0),\n  clicks: parseInt(r.metrics?.clicks || 0),\n  ctr: (parseFloat(r.metrics?.ctr || 0) * 100).toFixed(2) + '%',\n  conversions: parseFloat(r.metrics?.conversions || 0),\n  cpa: '$' + ((parseInt(r.metrics?.costPerConversion || 0)) / 1e6).toFixed(2),\n  spend: '$' + ((parseInt(r.metrics?.costMicros || 0)) / 1e6).toFixed(2),\n  roas: ((parseFloat(r.metrics?.conversionsValue || 0)) / ((parseInt(r.metrics?.costMicros || 1)) / 1e6)).toFixed(2),\n  imp_share: r.metrics?.searchImpressionShare || 'N/A'\n}));\nconst gadsSpend = gadsResults.reduce((s,r) => s + (parseInt(r.metrics?.costMicros || 0) / 1e6), 0);\n\nconst meta = metaResults.map(r => {\n  const conv = (r.actions || []).find(a => a.action_type === 'purchase' || a.action_type === 'lead');\n  return {\n    campaign: r.campaign_name,\n    impressions: parseInt(r.impressions || 0),\n    clicks: parseInt(r.clicks || 0),\n    ctr: parseFloat(r.ctr || 0).toFixed(2) + '%',\n    conversions: parseInt(conv?.value || 0),\n    spend: '$' + parseFloat(r.spend || 0).toFixed(2),\n    cpc: '$' + parseFloat(r.cpc || 0).toFixed(2),\n    frequency: parseFloat(r.frequency || 0).toFixed(1),\n    reach: parseInt(r.reach || 0)\n  };\n});\nconst metaSpend = metaResults.reduce((s,r) => s + parseFloat(r.spend || 0), 0);\n\nconst prompt = 'You are an expert PPC auditor. Analyze this ad data for the period ' + dates.period_label + '.\\n\\n' +\n  '=== GOOGLE ADS (Total: $' + gadsSpend.toFixed(2) + ') ===\\n' +\n  JSON.stringify(gads, null, 2) + '\\n\\n' +\n  '=== META ADS (Total: $' + metaSpend.toFixed(2) + ') ===\\n' +\n  JSON.stringify(meta, null, 2) + '\\n\\n' +\n  'OUTPUT CLEAN HTML REPORT with these sections:\\n' +\n  '1. <h2>Weekly PPC Audit</h2> with period\\n' +\n  '2. <h3>Executive Summary</h3> - 3 sentences: total spend both platforms, total conversions, biggest finding\\n' +\n  '3. <h3>Google Ads</h3> - HTML table (Campaign|Spend|Clicks|Conv|CPA|ROAS) + 2 sentence analysis\\n' +\n  '4. <h3>Meta Ads</h3> - HTML table (Campaign|Spend|Clicks|Conv|CPC|Freq) + 2 sentence analysis\\n' +\n  '5. <h3>Issues Detected</h3> - bullet list with emoji severity (red=critical, yellow=warning, green=ok):\\n' +\n  '   - Spend >$10 with 0 conversions = WASTED (red)\\n' +\n  '   - CPA >2x account avg = SPIKE (yellow)\\n' +\n  '   - Meta frequency >3.0 = CREATIVE FATIGUE (yellow)\\n' +\n  '   - Google imp share <40% = UNDERBIDDING (yellow)\\n' +\n  '6. <h3>Top 5 Recommendations</h3> - numbered, specific with $ amounts\\n\\n' +\n  'RULES: Output ONLY valid HTML. No markdown. No explanation outside HTML tags. Include $ amounts everywhere.';\n\nreturn [{ json: { request_body: { model: 'llama-3.3-70b-versatile', messages: [{ role: 'user', content: prompt }], temperature: 0.2, max_tokens: 4096 }, period: dates.period_label } }];"}},
    {"id": "n8", "name": "Groq: PPC Audit", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1240, 400], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 3000, "parameters": {"method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.request_body) }}", "options": {}}},
    {"id": "n9", "name": "Format Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1480, 400], "parameters": {"jsCode": "const html = $json.choices[0].message.content;\nconst period = $('Build AI Prompt').first().json.period;\nconst plain = html.replace(/<h[1-6][^>]*>/gi, '\\n\\n').replace(/<\\/h[1-6]>/gi, '').replace(/<tr>/gi, '\\n').replace(/<td[^>]*>|<th[^>]*>/gi, ' | ').replace(/<\\/td>|<\\/th>/gi, '').replace(/<li>/gi, '\\n- ').replace(/<[^>]+>/g, '').replace(/\\n{3,}/g, '\\n\\n').trim();\nreturn [{ json: { html_report: html, plain_text: plain.substring(0, 4000), subject: 'PPC Audit Report - ' + period, period: period } }];"}},
    {"id": "n10", "name": "Send Email Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1720, 300], "parameters": {"fromEmail": "={{ $env.SMTP_FROM_EMAIL }}", "toEmail": "={{ $env.REPORT_EMAIL_TO }}", "subject": "={{ $json.subject }}", "html": "={{ $json.html_report }}", "options": {}}},
    {"id": "n11", "name": "Send Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1720, 500], "parameters": {"operation": "sendMessage", "chatId": {"__rl": true, "value": "={{ $env.TELEGRAM_CHAT_ID }}", "mode": "id"}, "text": "={{ $json.plain_text }}", "additionalFields": {}}},
    {"id": "n12", "name": "Setup Instructions", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-240, 100], "parameters": {"color": 6, "width": 480, "height": 540, "content": "## PPC Audit - FREE Weekly Report\n\n### Required Credentials (n8n UI):\n1. Google Ads OAuth2\n2. Facebook Graph API\n3. SMTP (email)\n4. Telegram Bot\n\n### Required Env Vars:\n- GROQ_API_KEY (free @ groq.com)\n- GOOGLE_ADS_CUSTOMER_ID (no dashes)\n- GOOGLE_ADS_DEVELOPER_TOKEN\n- META_AD_ACCOUNT_ID (act_xxx)\n- SMTP_FROM_EMAIL\n- REPORT_EMAIL_TO\n- TELEGRAM_CHAT_ID\n\n### Flow:\n1. Mon 7AM or manual trigger\n2. Fetch Google Ads + Meta Ads (parallel)\n3. Groq AI analysis (FREE)\n4. HTML email + Telegram alert\n\n### Cost: $0.00/month\nGroq free = 30 req/min\nAll APIs free with creds"}}
  ],
  "connections": {
    "Test Manually": {"main": [[{"node": "Calculate Dates", "type": "main", "index": 0}]]},
    "Weekly Schedule": {"main": [[{"node": "Calculate Dates", "type": "main", "index": 0}]]},
    "Calculate Dates": {"main": [[{"node": "Google Ads API", "type": "main", "index": 0}, {"node": "Meta Ads API", "type": "main", "index": 0}]]},
    "Google Ads API": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Meta Ads API": {"main": [[{"node": "Merge Results", "type": "main", "index": 1}]]},
    "Merge Results": {"main": [[{"node": "Build AI Prompt", "type": "main", "index": 0}]]},
    "Build AI Prompt": {"main": [[{"node": "Groq: PPC Audit", "type": "main", "index": 0}]]},
    "Groq: PPC Audit": {"main": [[{"node": "Format Report", "type": "main", "index": 0}]]},
    "Format Report": {"main": [[{"node": "Send Email Report", "type": "main", "index": 0}, {"node": "Send Telegram Report", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "timezone": "Europe/Warsaw"}
}
