listing_builder/n8n-marcin/10-news-collector.json
{"updatedAt":"2026-02-27T11:46:44.173Z","createdAt":"2026-02-27T10:49:07.120Z","id":"yKdRPPkdrTmLWK11","name":"News Collector - Krasnik RAG Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-trigger","name":"Co 4 godziny","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,500]},{"parameters":{"url":"https://radio.lublin.pl/feed/","options":{}},"id":"rss-radio-lublin","name":"RSS Radio Lublin","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,0],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.dziennikwschodni.pl/rss/articles/pl","options":{}},"id":"rss-dziennik-wschodni","name":"RSS Dziennik Wschodni","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,100],"onError":"continueRegularOutput"},{"parameters":{"url":"https://krasnik.policja.gov.pl/lkr/rss","options":{}},"id":"rss-policja","name":"RSS Policja KPP Krasnik","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,200],"onError":"continueRegularOutput"},{"parameters":{"url":"https://krasnik.eska.pl/feed/","options":{}},"id":"rss-eska","name":"RSS ESKA Krasnik","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,300],"onError":"continueRegularOutput"},{"parameters":{"url":"https://samorzad.gov.pl/web/powiat-krasnicki/-/news?_format=rss","options":{}},"id":"rss-samorzad","name":"RSS samorzad.gov.pl","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,400],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.krasnik.eu/aktualnosci","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-krasnik-eu","name":"HTTP krasnik.eu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,540],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.lublin112.pl/category/wiadomosci-z-regionu/krasnik/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-lublin112","name":"HTTP lublin112.pl","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,640],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.dziennikwschodni.pl/krasnik/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-dw-krasnik","name":"HTTP DW Krasnik","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,740],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnicki.esesja.pl/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-esesja","name":"HTTP eSesja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,840],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".news-item a, .article-item a, article a","returnArray":true}]},"options":{}},"id":"html-krasnik-eu","name":"Extract krasnik.eu","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,540],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"article h2 a, .entry-title a","returnArray":true}]},"options":{}},"id":"html-lublin112","name":"Extract lublin112","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,640],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".article-title a, h3 a","returnArray":true}]},"options":{}},"id":"html-dw-krasnik","name":"Extract DW Krasnik","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,740],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".meeting-item a, .session-item a, table td a","returnArray":true}]},"options":{}},"id":"html-esesja","name":"Extract eSesja","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,840],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=722","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-ogloszenia","name":"BIP Ogloszenia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,980],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=857","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-uchwaly","name":"BIP Uchwaly Rady","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1080],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=662","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-zarzadzenia","name":"BIP Zarzadzenia Starosty","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1180],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=724","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-przetargi","name":"BIP Przetargi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1280],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-ogloszenia","name":"Extract BIP Ogloszenia","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,980],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-uchwaly","name":"Extract BIP Uchwaly","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1080],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-zarzadzenia","name":"Extract BIP Zarzadzenia","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1180],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-przetargi","name":"Extract BIP Przetargi","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1280],"onError":"continueRegularOutput"},{"parameters":{"mode":"append","options":{}},"id":"merge-rss","name":"Merge RSS","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,200]},{"parameters":{"mode":"append","options":{}},"id":"merge-scraping","name":"Merge Scraping + BIP","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,900]},{"parameters":{"mode":"append","options":{}},"id":"merge-all","name":"Merge All","type":"n8n-nodes-base.merge","typeVersion":3,"position":[940,500]},{"parameters":{"jsCode":"// Normalize all items into standard format\n// Skip error items from continueOnFail nodes\nconst rawItems = $input.all().filter(i => !i.json.error && !i.json.errorMessage);\nif (rawItems.length === 0) {\n  return [{ json: { _skip: true, message: 'All sources returned errors' } }];\n}\n// RSS items have: title, link, contentSnippet, pubDate, creator\n// HTML extracted items have: titles (array of strings)\nconst items = [];\n\nfor (const item of rawItems) {\n  const d = item.json;\n\n  // RSS items — have title + link\n  if (d.title && d.link) {\n    items.push({\n      title: d.title,\n      url: d.link,\n      description: (d.contentSnippet || d.content || '').substring(0, 500),\n      source: d.creator || d.feed?.title || 'RSS',\n      date: d.pubDate || d.isoDate || new Date().toISOString(),\n      category: 'news'\n    });\n  }\n\n  // HTML extracted items — have titles array\n  if (d.titles && Array.isArray(d.titles)) {\n    for (const t of d.titles.slice(0, 15)) {\n      const title = typeof t === 'string' ? t : (t.text || t);\n      const href = typeof t === 'object' ? (t.href || t.link || '') : '';\n      if (title && String(title).length > 5) {\n        items.push({\n          title: String(title).trim(),\n          url: href || '',\n          description: '',\n          source: 'Scraping/BIP',\n          date: new Date().toISOString(),\n          category: 'local'\n        });\n      }\n    }\n  }\n}\n\n// Deduplicate within this batch by URL or title\nconst seen = new Set();\nconst unique = items.filter(item => {\n  const key = item.url || item.title;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { _skip: true, message: 'No items found in any source' } }];\n}\n\nreturn unique.map(item => ({ json: item }));"},"id":"code-normalize","name":"Normalize + Dedup Batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,500]},{"parameters":{"jsCode":"// Check Qdrant for existing URLs — skip already-stored articles\nconst items = $input.all().map(i => i.json);\n\nif (items.length === 1 && items[0]._skip) {\n  return [{ json: { _skip: true, message: items[0].message } }];\n}\n\nconst qdrantUrl = 'http://qdrant:6333';\n\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch(`${qdrantUrl}/collections/krasnik_news/points/scroll`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      limit: 1000,\n      with_payload: true,\n      filter: {}\n    })\n  });\n  const data = await resp.json();\n  if (data.result?.points) {\n    for (const p of data.result.points) {\n      if (p.payload?.url) existingUrls.add(p.payload.url);\n      if (p.payload?.title) existingUrls.add(p.payload.title);\n    }\n  }\n} catch (e) {\n  // Collection might not exist yet — continue with all items\n}\n\nconst newItems = items.filter(item => {\n  return !existingUrls.has(item.url) && !existingUrls.has(item.title);\n});\n\nif (newItems.length === 0) {\n  return [{ json: { _skip: true, message: 'No new articles (all already in Qdrant)' } }];\n}\n\nreturn newItems.map(item => ({ json: item }));"},"id":"code-dedup-qdrant","name":"Qdrant Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,500]},{"parameters":{"jsCode":"// Embed via Gemini gemini-embedding-001 + upsert to Qdrant\nconst items = $input.all().map(i => i.json);\n\nif (items.length === 1 && items[0]._skip) {\n  return [{ json: { status: 'skipped', message: items[0].message } }];\n}\n\nconst qdrantUrl = 'http://qdrant:6333';\nconst geminiKey = $env.GEMINI_API_KEY || '';\n\nif (!geminiKey) {\n  return [{ json: { status: 'error', message: 'GEMINI_API_KEY not set' } }];\n}\n\n// Simple string hash for deterministic UUID (no crypto module needed)\nfunction simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const hex = (h2 >>> 0).toString(16).padStart(8, '0') + (h1 >>> 0).toString(16).padStart(8, '0');\n  return hex.padEnd(32, '0');\n}\n\nfunction makeUuid(str) {\n  const h = simpleHash(str);\n  return `${h.slice(0,8)}-${h.slice(8,12)}-4${h.slice(13,16)}-a${h.slice(17,20)}-${h.slice(20,32)}`;\n}\n\nconst points = [];\nlet embedded = 0;\nlet errors = 0;\nlet lastError = '';\n\nfor (const item of items) {\n  try {\n    const textToEmbed = `${item.title}. ${item.description || ''}`.substring(0, 2000);\n\n    const embResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=${geminiKey}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        model: 'models/gemini-embedding-001',\n        content: { parts: [{ text: textToEmbed }] },\n        outputDimensionality: 768\n      },\n      json: true\n    });\n\n    if (!embResp.embedding?.values) {\n      errors++;\n      lastError = 'No embedding: ' + JSON.stringify(embResp).substring(0, 200);\n      continue;\n    }\n\n    const uuid = makeUuid(item.url || item.title);\n\n    points.push({\n      id: uuid,\n      vector: embResp.embedding.values,\n      payload: {\n        title: item.title,\n        url: item.url,\n        description: item.description || '',\n        source: item.source,\n        date: item.date,\n        category: item.category,\n        collected_at: new Date().toISOString()\n      }\n    });\n    embedded++;\n    await new Promise(r => setTimeout(r, 150));\n  } catch (e) {\n    errors++;\n    lastError = e.message || String(e);\n  }\n}\n\nif (points.length > 0) {\n  try {\n    const upsertResp = await this.helpers.httpRequest({\n      method: 'PUT',\n      url: `${qdrantUrl}/collections/krasnik_news/points`,\n      headers: { 'Content-Type': 'application/json' },\n      body: { points },\n      json: true\n    });\n    return [{ json: { status: 'ok', embedded, upserted: points.length, errors, lastError, qdrant: upsertResp.status || 'ok' } }];\n  } catch (e) {\n    return [{ json: { status: 'qdrant_error', message: e.message, embedded, lastError } }];\n  }\n}\n\nreturn [{ json: { status: 'no_embeddings', embedded: 0, errors, lastError } }];"},"id":"code-embed-upsert","name":"Gemini Embed + Qdrant Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,500]},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/krasnik_news","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"http-init-collection","name":"Init Qdrant Collection","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,-200],"onError":"continueRegularOutput"},{"parameters":{"content":"## 📡 News Collector — Kraśnik RAG Pipeline\n\n**Co robi:** Zbiera wiadomości z 13 źródeł co 4h\n**Zapisuje do:** Qdrant `krasnik_news` (embeddingi Gemini)\n**Deduplikacja:** Po URL — nie wstawia duplikatów\n\n**Źródła:** 5 RSS + 4 strony www + 4 sekcje BIP\n**Qdrant:** qdrant:6333\n**Embeddingi:** Gemini gemini-embedding-001 (768 dim)\n\n**Wymagane credentials:**\n- Gemini API Key (env: GEMINI_API_KEY)\n- Qdrant dostępny via Docker networking\n\n**Autor:** PYROX AI | shawnstefaniak@pyroxai.com","width":420,"height":380,"color":4},"id":"sticky-info","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,200]},{"parameters":{"content":"## 🔧 KONFIGURACJA\n\n1. Ustaw `GEMINI_API_KEY` w Settings > Variables\n2. Qdrant musi być dostępny na porcie 6333\n   (Docker: host.docker.internal)\n3. Kolekcja `krasnik_news` tworzy się automatycznie\n   przy pierwszym uruchomieniu\n4. Rozmiar wektora: 768 (Gemini embedding)\n5. Dystans: Cosine\n\n**RSS:** 5 feedów (Radio Lublin, DW, Policja, ESKA, samorzad.gov.pl)\n**Scraping:** 4 strony (krasnik.eu, lublin112, DW/krasnik, eSesja)\n**BIP:** 4 sekcje (Ogłoszenia, Uchwały, Zarządzenia, Przetargi)","width":420,"height":320,"color":6},"id":"sticky-config","name":"Sticky Note Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,620]}],"connections":{"Co 4 godziny":{"main":[[{"node":"RSS Radio Lublin","type":"main","index":0},{"node":"RSS Dziennik Wschodni","type":"main","index":0},{"node":"RSS Policja KPP Krasnik","type":"main","index":0},{"node":"RSS ESKA Krasnik","type":"main","index":0},{"node":"RSS samorzad.gov.pl","type":"main","index":0},{"node":"HTTP krasnik.eu","type":"main","index":0},{"node":"HTTP lublin112.pl","type":"main","index":0},{"node":"HTTP DW Krasnik","type":"main","index":0},{"node":"HTTP eSesja","type":"main","index":0},{"node":"BIP Ogloszenia","type":"main","index":0},{"node":"BIP Uchwaly Rady","type":"main","index":0},{"node":"BIP Zarzadzenia Starosty","type":"main","index":0},{"node":"BIP Przetargi","type":"main","index":0},{"node":"Init Qdrant Collection","type":"main","index":0}]]},"RSS Radio Lublin":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS Dziennik Wschodni":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS Policja KPP Krasnik":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS ESKA Krasnik":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS samorzad.gov.pl":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"HTTP krasnik.eu":{"main":[[{"node":"Extract krasnik.eu","type":"main","index":0}]]},"HTTP lublin112.pl":{"main":[[{"node":"Extract lublin112","type":"main","index":0}]]},"HTTP DW Krasnik":{"main":[[{"node":"Extract DW Krasnik","type":"main","index":0}]]},"HTTP eSesja":{"main":[[{"node":"Extract eSesja","type":"main","index":0}]]},"BIP Ogloszenia":{"main":[[{"node":"Extract BIP Ogloszenia","type":"main","index":0}]]},"BIP Uchwaly Rady":{"main":[[{"node":"Extract BIP Uchwaly","type":"main","index":0}]]},"BIP Zarzadzenia Starosty":{"main":[[{"node":"Extract BIP Zarzadzenia","type":"main","index":0}]]},"BIP Przetargi":{"main":[[{"node":"Extract BIP Przetargi","type":"main","index":0}]]},"Extract krasnik.eu":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract lublin112":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract DW Krasnik":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract eSesja":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Ogloszenia":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Uchwaly":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Zarzadzenia":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Przetargi":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Merge RSS":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge Scraping + BIP":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge All":{"main":[[{"node":"Normalize + Dedup Batch","type":"main","index":0}]]},"Normalize + Dedup Batch":{"main":[[{"node":"Qdrant Dedup Check","type":"main","index":0}]]},"Qdrant Dedup Check":{"main":[[{"node":"Gemini Embed + Qdrant Upsert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Co 4 godziny":{"recurrenceRules":[12]}},"meta":null,"pinData":null,"versionId":"e40aaf5b-829a-4352-a5fd-8e2b954ce9bc","activeVersionId":"e40aaf5b-829a-4352-a5fd-8e2b954ce9bc","versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T10:49:07.120Z","createdAt":"2026-02-27T10:49:07.120Z","role":"workflow:owner","workflowId":"yKdRPPkdrTmLWK11","projectId":"hEFQViwnRrSGTFxh","project":{"updatedAt":"2026-02-27T06:41:31.316Z","createdAt":"2026-02-27T06:30:53.439Z","id":"hEFQViwnRrSGTFxh","name":"Shawn Stefaniak <shawnstefaniak@pyroxai.com>","type":"personal","icon":null,"description":null,"creatorId":"f0cd4277-08c6-4602-b32b-5309e327ad52"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-27T11:46:44.176Z","createdAt":"2026-02-27T11:46:44.176Z","versionId":"e40aaf5b-829a-4352-a5fd-8e2b954ce9bc","workflowId":"yKdRPPkdrTmLWK11","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-trigger","name":"Co 4 godziny","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,500]},{"parameters":{"url":"https://radio.lublin.pl/feed/","options":{}},"id":"rss-radio-lublin","name":"RSS Radio Lublin","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,0],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.dziennikwschodni.pl/rss/articles/pl","options":{}},"id":"rss-dziennik-wschodni","name":"RSS Dziennik Wschodni","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,100],"onError":"continueRegularOutput"},{"parameters":{"url":"https://krasnik.policja.gov.pl/lkr/rss","options":{}},"id":"rss-policja","name":"RSS Policja KPP Krasnik","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,200],"onError":"continueRegularOutput"},{"parameters":{"url":"https://krasnik.eska.pl/feed/","options":{}},"id":"rss-eska","name":"RSS ESKA Krasnik","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,300],"onError":"continueRegularOutput"},{"parameters":{"url":"https://samorzad.gov.pl/web/powiat-krasnicki/-/news?_format=rss","options":{}},"id":"rss-samorzad","name":"RSS samorzad.gov.pl","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[300,400],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.krasnik.eu/aktualnosci","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-krasnik-eu","name":"HTTP krasnik.eu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,540],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.lublin112.pl/category/wiadomosci-z-regionu/krasnik/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-lublin112","name":"HTTP lublin112.pl","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,640],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.dziennikwschodni.pl/krasnik/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-dw-krasnik","name":"HTTP DW Krasnik","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,740],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnicki.esesja.pl/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-esesja","name":"HTTP eSesja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,840],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".news-item a, .article-item a, article a","returnArray":true}]},"options":{}},"id":"html-krasnik-eu","name":"Extract krasnik.eu","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,540],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"article h2 a, .entry-title a","returnArray":true}]},"options":{}},"id":"html-lublin112","name":"Extract lublin112","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,640],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".article-title a, h3 a","returnArray":true}]},"options":{}},"id":"html-dw-krasnik","name":"Extract DW Krasnik","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,740],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":".meeting-item a, .session-item a, table td a","returnArray":true}]},"options":{}},"id":"html-esesja","name":"Extract eSesja","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,840],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=722","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-ogloszenia","name":"BIP Ogloszenia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,980],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=857","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-uchwaly","name":"BIP Uchwaly Rady","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1080],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=662","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-zarzadzenia","name":"BIP Zarzadzenia Starosty","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1180],"onError":"continueRegularOutput"},{"parameters":{"url":"https://powiatkrasnik.e-bip.eu/index.php?id=724","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"http-bip-przetargi","name":"BIP Przetargi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1280],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-ogloszenia","name":"Extract BIP Ogloszenia","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,980],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-uchwaly","name":"Extract BIP Uchwaly","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1080],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-zarzadzenia","name":"Extract BIP Zarzadzenia","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1180],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"table.tab_zal td a, .doc-list a, table td a[href*=\"id=\"]","returnArray":true}]},"options":{}},"id":"html-bip-przetargi","name":"Extract BIP Przetargi","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,1280],"onError":"continueRegularOutput"},{"parameters":{"mode":"append","options":{}},"id":"merge-rss","name":"Merge RSS","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,200]},{"parameters":{"mode":"append","options":{}},"id":"merge-scraping","name":"Merge Scraping + BIP","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,900]},{"parameters":{"mode":"append","options":{}},"id":"merge-all","name":"Merge All","type":"n8n-nodes-base.merge","typeVersion":3,"position":[940,500]},{"parameters":{"jsCode":"// Normalize all items into standard format\n// Skip error items from continueOnFail nodes\nconst rawItems = $input.all().filter(i => !i.json.error && !i.json.errorMessage);\nif (rawItems.length === 0) {\n  return [{ json: { _skip: true, message: 'All sources returned errors' } }];\n}\n// RSS items have: title, link, contentSnippet, pubDate, creator\n// HTML extracted items have: titles (array of strings)\nconst items = [];\n\nfor (const item of rawItems) {\n  const d = item.json;\n\n  // RSS items — have title + link\n  if (d.title && d.link) {\n    items.push({\n      title: d.title,\n      url: d.link,\n      description: (d.contentSnippet || d.content || '').substring(0, 500),\n      source: d.creator || d.feed?.title || 'RSS',\n      date: d.pubDate || d.isoDate || new Date().toISOString(),\n      category: 'news'\n    });\n  }\n\n  // HTML extracted items — have titles array\n  if (d.titles && Array.isArray(d.titles)) {\n    for (const t of d.titles.slice(0, 15)) {\n      const title = typeof t === 'string' ? t : (t.text || t);\n      const href = typeof t === 'object' ? (t.href || t.link || '') : '';\n      if (title && String(title).length > 5) {\n        items.push({\n          title: String(title).trim(),\n          url: href || '',\n          description: '',\n          source: 'Scraping/BIP',\n          date: new Date().toISOString(),\n          category: 'local'\n        });\n      }\n    }\n  }\n}\n\n// Deduplicate within this batch by URL or title\nconst seen = new Set();\nconst unique = items.filter(item => {\n  const key = item.url || item.title;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { _skip: true, message: 'No items found in any source' } }];\n}\n\nreturn unique.map(item => ({ json: item }));"},"id":"code-normalize","name":"Normalize + Dedup Batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,500]},{"parameters":{"jsCode":"// Check Qdrant for existing URLs — skip already-stored articles\nconst items = $input.all().map(i => i.json);\n\nif (items.length === 1 && items[0]._skip) {\n  return [{ json: { _skip: true, message: items[0].message } }];\n}\n\nconst qdrantUrl = 'http://qdrant:6333';\n\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch(`${qdrantUrl}/collections/krasnik_news/points/scroll`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      limit: 1000,\n      with_payload: true,\n      filter: {}\n    })\n  });\n  const data = await resp.json();\n  if (data.result?.points) {\n    for (const p of data.result.points) {\n      if (p.payload?.url) existingUrls.add(p.payload.url);\n      if (p.payload?.title) existingUrls.add(p.payload.title);\n    }\n  }\n} catch (e) {\n  // Collection might not exist yet — continue with all items\n}\n\nconst newItems = items.filter(item => {\n  return !existingUrls.has(item.url) && !existingUrls.has(item.title);\n});\n\nif (newItems.length === 0) {\n  return [{ json: { _skip: true, message: 'No new articles (all already in Qdrant)' } }];\n}\n\nreturn newItems.map(item => ({ json: item }));"},"id":"code-dedup-qdrant","name":"Qdrant Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,500]},{"parameters":{"jsCode":"// Embed via Gemini gemini-embedding-001 + upsert to Qdrant\nconst items = $input.all().map(i => i.json);\n\nif (items.length === 1 && items[0]._skip) {\n  return [{ json: { status: 'skipped', message: items[0].message } }];\n}\n\nconst qdrantUrl = 'http://qdrant:6333';\nconst geminiKey = $env.GEMINI_API_KEY || '';\n\nif (!geminiKey) {\n  return [{ json: { status: 'error', message: 'GEMINI_API_KEY not set' } }];\n}\n\n// Simple string hash for deterministic UUID (no crypto module needed)\nfunction simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const hex = (h2 >>> 0).toString(16).padStart(8, '0') + (h1 >>> 0).toString(16).padStart(8, '0');\n  return hex.padEnd(32, '0');\n}\n\nfunction makeUuid(str) {\n  const h = simpleHash(str);\n  return `${h.slice(0,8)}-${h.slice(8,12)}-4${h.slice(13,16)}-a${h.slice(17,20)}-${h.slice(20,32)}`;\n}\n\nconst points = [];\nlet embedded = 0;\nlet errors = 0;\nlet lastError = '';\n\nfor (const item of items) {\n  try {\n    const textToEmbed = `${item.title}. ${item.description || ''}`.substring(0, 2000);\n\n    const embResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=${geminiKey}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        model: 'models/gemini-embedding-001',\n        content: { parts: [{ text: textToEmbed }] },\n        outputDimensionality: 768\n      },\n      json: true\n    });\n\n    if (!embResp.embedding?.values) {\n      errors++;\n      lastError = 'No embedding: ' + JSON.stringify(embResp).substring(0, 200);\n      continue;\n    }\n\n    const uuid = makeUuid(item.url || item.title);\n\n    points.push({\n      id: uuid,\n      vector: embResp.embedding.values,\n      payload: {\n        title: item.title,\n        url: item.url,\n        description: item.description || '',\n        source: item.source,\n        date: item.date,\n        category: item.category,\n        collected_at: new Date().toISOString()\n      }\n    });\n    embedded++;\n    await new Promise(r => setTimeout(r, 150));\n  } catch (e) {\n    errors++;\n    lastError = e.message || String(e);\n  }\n}\n\nif (points.length > 0) {\n  try {\n    const upsertResp = await this.helpers.httpRequest({\n      method: 'PUT',\n      url: `${qdrantUrl}/collections/krasnik_news/points`,\n      headers: { 'Content-Type': 'application/json' },\n      body: { points },\n      json: true\n    });\n    return [{ json: { status: 'ok', embedded, upserted: points.length, errors, lastError, qdrant: upsertResp.status || 'ok' } }];\n  } catch (e) {\n    return [{ json: { status: 'qdrant_error', message: e.message, embedded, lastError } }];\n  }\n}\n\nreturn [{ json: { status: 'no_embeddings', embedded: 0, errors, lastError } }];"},"id":"code-embed-upsert","name":"Gemini Embed + Qdrant Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,500]},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/krasnik_news","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"http-init-collection","name":"Init Qdrant Collection","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,-200],"onError":"continueRegularOutput"},{"parameters":{"content":"## 📡 News Collector — Kraśnik RAG Pipeline\n\n**Co robi:** Zbiera wiadomości z 13 źródeł co 4h\n**Zapisuje do:** Qdrant `krasnik_news` (embeddingi Gemini)\n**Deduplikacja:** Po URL — nie wstawia duplikatów\n\n**Źródła:** 5 RSS + 4 strony www + 4 sekcje BIP\n**Qdrant:** qdrant:6333\n**Embeddingi:** Gemini gemini-embedding-001 (768 dim)\n\n**Wymagane credentials:**\n- Gemini API Key (env: GEMINI_API_KEY)\n- Qdrant dostępny via Docker networking\n\n**Autor:** PYROX AI | shawnstefaniak@pyroxai.com","width":420,"height":380,"color":4},"id":"sticky-info","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,200]},{"parameters":{"content":"## 🔧 KONFIGURACJA\n\n1. Ustaw `GEMINI_API_KEY` w Settings > Variables\n2. Qdrant musi być dostępny na porcie 6333\n   (Docker: host.docker.internal)\n3. Kolekcja `krasnik_news` tworzy się automatycznie\n   przy pierwszym uruchomieniu\n4. Rozmiar wektora: 768 (Gemini embedding)\n5. Dystans: Cosine\n\n**RSS:** 5 feedów (Radio Lublin, DW, Policja, ESKA, samorzad.gov.pl)\n**Scraping:** 4 strony (krasnik.eu, lublin112, DW/krasnik, eSesja)\n**BIP:** 4 sekcje (Ogłoszenia, Uchwały, Zarządzenia, Przetargi)","width":420,"height":320,"color":6},"id":"sticky-config","name":"Sticky Note Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,620]}],"connections":{"Co 4 godziny":{"main":[[{"node":"RSS Radio Lublin","type":"main","index":0},{"node":"RSS Dziennik Wschodni","type":"main","index":0},{"node":"RSS Policja KPP Krasnik","type":"main","index":0},{"node":"RSS ESKA Krasnik","type":"main","index":0},{"node":"RSS samorzad.gov.pl","type":"main","index":0},{"node":"HTTP krasnik.eu","type":"main","index":0},{"node":"HTTP lublin112.pl","type":"main","index":0},{"node":"HTTP DW Krasnik","type":"main","index":0},{"node":"HTTP eSesja","type":"main","index":0},{"node":"BIP Ogloszenia","type":"main","index":0},{"node":"BIP Uchwaly Rady","type":"main","index":0},{"node":"BIP Zarzadzenia Starosty","type":"main","index":0},{"node":"BIP Przetargi","type":"main","index":0},{"node":"Init Qdrant Collection","type":"main","index":0}]]},"RSS Radio Lublin":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS Dziennik Wschodni":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS Policja KPP Krasnik":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS ESKA Krasnik":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS samorzad.gov.pl":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"HTTP krasnik.eu":{"main":[[{"node":"Extract krasnik.eu","type":"main","index":0}]]},"HTTP lublin112.pl":{"main":[[{"node":"Extract lublin112","type":"main","index":0}]]},"HTTP DW Krasnik":{"main":[[{"node":"Extract DW Krasnik","type":"main","index":0}]]},"HTTP eSesja":{"main":[[{"node":"Extract eSesja","type":"main","index":0}]]},"BIP Ogloszenia":{"main":[[{"node":"Extract BIP Ogloszenia","type":"main","index":0}]]},"BIP Uchwaly Rady":{"main":[[{"node":"Extract BIP Uchwaly","type":"main","index":0}]]},"BIP Zarzadzenia Starosty":{"main":[[{"node":"Extract BIP Zarzadzenia","type":"main","index":0}]]},"BIP Przetargi":{"main":[[{"node":"Extract BIP Przetargi","type":"main","index":0}]]},"Extract krasnik.eu":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract lublin112":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract DW Krasnik":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract eSesja":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Ogloszenia":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Uchwaly":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Zarzadzenia":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Extract BIP Przetargi":{"main":[[{"node":"Merge Scraping + BIP","type":"main","index":0}]]},"Merge RSS":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge Scraping + BIP":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge All":{"main":[[{"node":"Normalize + Dedup Batch","type":"main","index":0}]]},"Normalize + Dedup Batch":{"main":[[{"node":"Qdrant Dedup Check","type":"main","index":0}]]},"Qdrant Dedup Check":{"main":[[{"node":"Gemini Embed + Qdrant Upsert","type":"main","index":0}]]}},"authors":"Shawn Stefaniak","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-27T11:56:08.435Z","id":44,"workflowId":"yKdRPPkdrTmLWK11","versionId":"e40aaf5b-829a-4352-a5fd-8e2b954ce9bc","event":"activated","userId":"f0cd4277-08c6-4602-b32b-5309e327ad52"}]}}