listing_builder/n8n_workflows_backup/WF1_Lead_Enrichment_Send.json
{
  "id": "puFv85dDCrrbnEoK",
  "name": "[OUTREACH] Lead Enrichment + Send - v1",
  "active": true,
  "nodes": [
    {
      "id": "e2",
      "name": "Fetch New Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400],
      "parameters": {
        "method": "GET",
        "url": "https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "filterByFormula", "value": "={Status}='New'"},
            {"name": "maxRecords", "value": "10"}
          ]
        },
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "e3",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 400],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [{"id": "condition-leads", "leftValue": "={{ $json.records.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}],
          "combinator": "and"
        }
      }
    },
    {
      "id": "e4",
      "name": "Parse Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "// Extract lead records from Airtable response\nconst records = $input.first().json.records || [];\nreturn records.map(r => ({\n  json: {\n    recordId: r.id,\n    firstName: r.fields['First Name'] || r.fields['First_Name'] || '',\n    fullName: r.fields['Full Name'] || '',\n    email: r.fields['Email Address'] || r.fields['Email'] || '',\n    companyName: r.fields['Company Name'] || r.fields['Company'] || '',\n    linkedinUrl: r.fields['LinkedIn URL'] || '',\n    linkedinOrgUrl: r.fields['LinkedIn Organization URL'] || '',\n    companyWebsite: r.fields['Company Website'] || '',\n    location: r.fields['Location'] || '',\n    title: r.fields['Title'] || ''\n  }\n}));"
      }
    },
    {
      "id": "e5",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1080, 300],
      "parameters": {"batchSize": 1, "options": {}}
    },
    {
      "id": "e6",
      "name": "Mark Enriching",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads/{{ $json.recordId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ typecast: true, fields: { Status: 'Enriching' } }) }}",
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "e7",
      "name": "Pyrox Company Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/scrape-company",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ linkedin_url: $('Split Into Batches').item.json.linkedinOrgUrl }) }}",
        "options": {"timeout": 60000}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e8",
      "name": "Parse Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Pyrox /scrape-company response into plain text\nconst company = $json.company || $json;\nconst parts = [];\nif (company.name) parts.push('Company: ' + company.name);\nif (company.industry) parts.push('Industry: ' + company.industry);\nif (company.location) parts.push('Location: ' + company.location);\nif (company.country) parts.push('Country: ' + company.country);\nif (company.size) parts.push('Size: ' + company.size);\nif (company.website) parts.push('Website: ' + company.website);\nif (company.description) parts.push('Description: ' + company.description);\nif (company.specialties && company.specialties.length > 0) {\n  parts.push('Specialties: ' + company.specialties.join(', '));\n}\nreturn { json: { companyText: parts.join('\\n'), companyRaw: company } };"
      }
    },
    {
      "id": "e9",
      "name": "Pyrox Profile Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/scrape-profile",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ linkedin_url: $('Split Into Batches').item.json.linkedinUrl }) }}",
        "options": {"timeout": 60000}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e10",
      "name": "Parse Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Convert Pyrox profile response to text\nconst profile = $json;\nconst parts = [];\nif (profile.name) parts.push('Name: ' + profile.name);\nif (profile.headline) parts.push('Headline: ' + profile.headline);\nif (profile.location) parts.push('Location: ' + profile.location);\nif (profile.about) parts.push('About: ' + profile.about);\nif (profile.experience && profile.experience.length > 0) {\n  parts.push('\\nExperience:');\n  for (const exp of profile.experience) {\n    parts.push('  - ' + (exp.position || '') + ' at ' + (exp.company || '') + (exp.duration ? ' (' + exp.duration + ')' : ''));\n  }\n}\nif (profile.recentPosts && profile.recentPosts.length > 0) {\n  parts.push('\\nRecent Posts:');\n  for (const post of profile.recentPosts) {\n    parts.push('  - ' + (typeof post === 'string' ? post.substring(0, 200) : JSON.stringify(post).substring(0, 200)));\n  }\n}\nif (profile.fullPageText && !profile.headline) {\n  parts.push('\\nProfile Text: ' + profile.fullPageText.substring(0, 1000));\n}\nreturn { json: { profileText: parts.join('\\n'), profileRaw: profile } };"
      }
    },
    {
      "id": "e11",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Detect language based on location\nconst location = ($('Split Into Batches').item.json.location || '').toLowerCase();\nconst profileLocation = ($('Parse Profile').item.json.profileRaw ? $('Parse Profile').item.json.profileRaw.location || '' : '').toLowerCase();\nconst combined = location + ' ' + profileLocation;\n\n// Polish indicators\nconst polishIndicators = ['poland', 'polska', 'warsaw', 'warszawa', 'krakow', 'kraków', 'wroclaw', 'wrocław', 'poznan', 'poznań', 'gdansk', 'gdańsk', 'łódź', 'lodz', 'katowice', 'lublin', 'szczecin', 'bydgoszcz', 'białystok', 'bialystok', 'silesia', 'mazowieckie', 'małopolskie', 'dolnośląskie', 'pomorskie'];\n\nconst isPL = polishIndicators.some(ind => combined.includes(ind));\nconst language = isPL ? 'PL' : 'EN';\n\nreturn { json: { language, companyText: $('Parse Company').item.json.companyText, profileText: $('Parse Profile').item.json.profileText } };"
      }
    },
    {
      "id": "e12",
      "name": "Groq Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.1-8b-instant',messages:[{role:'system',content:'Analyze this company and person for B2B outreach. We sell AI automation to small businesses (2-60 employees): email automation, lead generation, chatbots, CRM automation, document processing, scheduling.\\n\\nReturn JSON only:\\n{\\n  \"industry\": \"specific industry\",\\n  \"company_type\": \"3-5 words (e.g. boutique accounting firm)\",\\n  \"employee_count\": \"estimate like 10-25\",\\n  \"ai_opportunity\": \"ONE specific automation for their business\",\\n  \"pain_point\": \"manual process they struggle with\",\\n  \"value_hook\": \"concrete benefit with time savings\"\\n}'},{role:'user',content:'Company:\\n'+$json.companyText+'\\n\\nPerson:\\n'+$json.profileText}],temperature:0.3,max_tokens:300}) }}",
        "options": {}
      }
    },
    {
      "id": "e13",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Groq analysis response\nlet analysis = {};\ntry {\n  const content = $json.choices[0].message.content;\n  analysis = JSON.parse(content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim());\n} catch(e) {\n  analysis = {\n    industry: 'Unknown',\n    company_type: 'small business',\n    employee_count: '5-20',\n    ai_opportunity: 'General automation',\n    pain_point: 'Manual processes',\n    value_hook: 'Save 10+ hours per week'\n  };\n}\nreturn { json: { ...analysis, language: $('Detect Language').first().json.language } };"
      }
    },
    {
      "id": "e14",
      "name": "Groq Write Personalization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:($json.language === 'PL' ? 'BEZWZGLĘDNY WYMÓG: Pisz WYŁĄCZNIE po polsku. Każde słowo odpowiedzi MUSI być po polsku, niezależnie od języka danych wejściowych. Temat emaila też po polsku.\\n\\n' : '') + 'Write a cold email opener. 1-2 sentences, max 20 words.' + ($json.language === 'PL' ? ' PISZ PO POLSKU.' : '') + '\\n\\nRules:\\n- Reference something SPECIFIC about their company or role\\n- Sound human, not a sales tool\\n- No questions, no \"I\" statements\\n- Never: \"reaching out\", \"touching base\", \"leverage\", \"synergy\"' + ($json.language === 'PL' ? '\\n- WSZYSTKO po polsku — personalizacja I temat\\n\\nPrzykład: {\"personalization\": \"Automatyzacja landing pages w Landingi to mocna baza do optymalizacji.\", \"subject\": \"Automatyzacja lead nurturingu\"}' : '') + '\\n\\nReturn JSON: {\"personalization\": \"opener text\", \"subject\": \"email subject line\"}'},{role:'user',content:($json.language === 'PL' ? 'PAMIĘTAJ: odpowiedź TYLKO po polsku!\\n\\n' : '') + 'Person: ' + $('Split Into Batches').item.json.fullName + ', ' + $('Split Into Batches').item.json.title + ' at ' + $('Split Into Batches').item.json.companyName + '\\nKey insight: ' + $json.ai_opportunity + '\\nPain point: ' + $json.pain_point}],temperature:0.7,max_tokens:200}) }}",
        "options": {}
      }
    },
    {
      "id": "e15",
      "name": "Parse Personalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse personalization response\nlet personalization = '';\nlet subject = '';\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim());\n  personalization = parsed.personalization || '';\n  subject = parsed.subject || '';\n} catch(e) {\n  // Fallback: use raw content\n  personalization = ($json.choices && $json.choices[0]) ? $json.choices[0].message.content : '';\n  subject = 'AI automation for ' + $('Split Into Batches').item.json.companyName;\n}\nreturn { json: { personalization, subject } };"
      }
    },
    {
      "id": "e_audio1",
      "name": "Generate Audio Intro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3350, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/yDVhT5liTKBkvScdl4hM",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xi-api-key", "value": "YOUR_ELEVENLABS_API_KEY"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: ($('Parse Analysis').first().json.language === 'PL' ? 'Cześć ' : 'Hi ') + $('Split Into Batches').item.json.firstName + '! ' + $('Parse Personalization').first().json.personalization.substring(0, 100), model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75 } }) }}",
        "options": {"response": {"response": {"responseFormat": "file"}}}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e_audio2",
      "name": "Upload Audio to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3350, 700],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/storage/v1/object/outreach-audio/{{ $('Split Into Batches').item.json.recordId }}_intro.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_KEY"},
            {"name": "Content-Type", "value": "audio/mpeg"},
            {"name": "x-upsert", "value": "true"}
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e_audio3",
      "name": "Build Audio URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3350, 900],
      "parameters": {
        "jsCode": "// Build public URL for audio file and pass through all data\nconst recordId = $('Split Into Batches').item.json.recordId;\nconst audioUrl = `https://YOUR_SUPABASE_PROJECT_REF.supabase.co/storage/v1/object/public/outreach-audio/${recordId}_intro.mp3`;\n\nreturn {\n  json: {\n    audioUrl: audioUrl,\n    // Pass through all necessary data for downstream nodes\n    personalization: $('Parse Personalization').first().json.personalization,\n    subject: $('Parse Personalization').first().json.subject,\n    language: $('Parse Analysis').first().json.language,\n    recordId: recordId\n  }\n};"
      }
    },
    {
      "id": "e16",
      "name": "SendSpark Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api-gw.sendspark.com/v1/workspaces/2ko7xl3udcyralxw5a6l4or63mevpr/dynamics/YOUR_DYNAMIC_ID_HERE/prospect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "2ko7xl3udcyralxw5a6l4or63mevpr"},
            {"name": "x-api-secret", "value": "YOUR_SENDSPARK_API_SECRET"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ processAndAuthorizeCharge: true, prospect: { contactName: $('Split Into Batches').item.json.firstName, contactEmail: $('Split Into Batches').item.json.email, company: $('Split Into Batches').item.json.companyName, jobTitle: $('Split Into Batches').item.json.title } }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e17",
      "name": "Update Airtable Enriched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3720, 300],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads/{{ $('Split Into Batches').item.json.recordId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ typecast: true, fields: { Status: 'Enriched', Personalization: $('Parse Personalization').first().json.personalization, Industry: $('Parse Analysis').first().json.industry, 'Company Type': $('Parse Analysis').first().json.company_type, 'Employee Count': $('Parse Analysis').first().json.employee_count, 'AI Opportunity': $('Parse Analysis').first().json.ai_opportunity, Language: $('Parse Analysis').first().json.language, 'Enriched At': new Date().toISOString(), 'Video Link': ($('SendSpark Create Video').first().json.videoLink || $('SendSpark Create Video').first().json.video_link || '') } }) }}",
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "e18",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3940, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "api-key", "value": "YOUR_BREVO_API_KEY"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { name: 'Shawn Stefaniak', email: 'shawn@automatyzacja-ai.pl' }, to: [{ email: $('Split Into Batches').item.json.email, name: $('Split Into Batches').item.json.firstName }], subject: $('Parse Personalization').first().json.subject, htmlContent: '<p>' + $('Parse Personalization').first().json.personalization + '</p>' + '<p>' + ($('Parse Analysis').first().json.language === 'PL' ? 'Pomagam firmom takim jak ' + $('Split Into Batches').item.json.companyName + ' automatyzować procesy za pomocą AI – ' + $('Parse Analysis').first().json.value_hook + '.' : 'I help companies like ' + $('Split Into Batches').item.json.companyName + ' automate processes with AI – ' + $('Parse Analysis').first().json.value_hook + '.') + '</p>' + ($('Build Audio URL').first().json.audioUrl ? '<p>🎵 <a href=\"' + $('Build Audio URL').first().json.audioUrl + '\">' + ($('Parse Analysis').first().json.language === 'PL' ? 'Posłuchaj mojej spersonalizowanej wiadomości głosowej' : 'Listen to my personalized voice message') + '</a></p>' : '') + (($('SendSpark Create Video').first().json.videoLink || $('SendSpark Create Video').first().json.thumbnailUrl) ? '<p><a href=\"' + ($('SendSpark Create Video').first().json.videoLink || '') + '\"><img src=\"' + ($('SendSpark Create Video').first().json.thumbnailUrl || '') + '\" width=\"400\" alt=\"' + ($('Parse Analysis').first().json.language === 'PL' ? 'Obejrzyj moje wideo dla Ciebie' : 'Watch my video for you') + '\" /></a></p>' : '') + '<p>' + ($('Parse Analysis').first().json.language === 'PL' ? 'Czy masz 15 minut na krótką rozmowę w tym tygodniu?' : 'Do you have 15 minutes for a quick chat this week?') + '</p>' + '<p>' + ($('Parse Analysis').first().json.language === 'PL' ? 'Pozdrawiam' : 'Best') + ',<br/>Shawn Stefaniak<br/>automatyzacja-ai.pl</p>' }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "e19",
      "name": "Mark In Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4160, 300],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads/{{ $('Split Into Batches').item.json.recordId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ typecast: true, fields: { Status: 'In Campaign' } }) }}",
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "e20",
      "name": "Wait 45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4380, 300],
      "parameters": {"amount": 45, "unit": "seconds"}
    },
    {
      "id": "e21",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 600],
      "parameters": {}
    },
    {
      "id": "e22",
      "name": "Handle Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 600],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads/{{ $json.execution.lastNodeExecuted === 'Split Into Batches' ? '' : ($json.execution.data ? 'unknown' : '') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { Notes: 'Error at ' + ($json.execution ? $json.execution.lastNodeExecuted : 'unknown') + ': ' + ($json.execution && $json.execution.error ? $json.execution.error.message : 'Unknown error') + ' — ' + new Date().toISOString() } }) }}",
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}},
      "onError": "continueRegularOutput"
    },
    {
      "id": "e23",
      "name": "Info Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 100],
      "parameters": {
        "content": "[OUTREACH] Lead Enrichment + Send - v1\n\nFlow: Schedule (2h) → Fetch New Leads from Airtable → Pyrox scrape company + profile → Groq analyze (8b) → Groq personalize (70b) → ElevenLabs audio → SendSpark video → Send email via Brevo → Mark In Campaign\n\nRate limits: 45s between leads, max 10 per batch\nGroq: 4 calls/lead, safe under 30 RPM\n\n⚠️ SETUP NEEDED:\n1. Replace YOUR_DYNAMIC_ID_HERE in SendSpark node with your Dynamic Video template ID\n2. Ensure Pyrox scraper is running: python pyrox_linkedin_scraper.py --server",
        "height": 220,
        "width": 600,
        "color": 5
      }
    },
    {
      "id": "e_webhook",
      "name": "Manual Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "parameters": {
        "path": "enrichment-run",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "enrichment-run-001"
    },
    {
      "id": "e1_schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 2}]}
      }
    }
  ],
  "connections": {
    "Fetch New Leads": {"main": [[{"node": "Has Leads?", "type": "main", "index": 0}]]},
    "Has Leads?": {"main": [[{"node": "Parse Records", "type": "main", "index": 0}]]},
    "Parse Records": {"main": [[{"node": "Split Into Batches", "type": "main", "index": 0}]]},
    "Split Into Batches": {"main": [[], [{"node": "Mark Enriching", "type": "main", "index": 0}]]},
    "Mark Enriching": {"main": [[{"node": "Pyrox Company Scrape", "type": "main", "index": 0}]]},
    "Pyrox Company Scrape": {"main": [[{"node": "Parse Company", "type": "main", "index": 0}]]},
    "Parse Company": {"main": [[{"node": "Pyrox Profile Scrape", "type": "main", "index": 0}]]},
    "Pyrox Profile Scrape": {"main": [[{"node": "Parse Profile", "type": "main", "index": 0}]]},
    "Parse Profile": {"main": [[{"node": "Detect Language", "type": "main", "index": 0}]]},
    "Detect Language": {"main": [[{"node": "Groq Analyze", "type": "main", "index": 0}]]},
    "Groq Analyze": {"main": [[{"node": "Parse Analysis", "type": "main", "index": 0}]]},
    "Parse Analysis": {"main": [[{"node": "Groq Write Personalization", "type": "main", "index": 0}]]},
    "Groq Write Personalization": {"main": [[{"node": "Parse Personalization", "type": "main", "index": 0}]]},
    "Parse Personalization": {"main": [[{"node": "Generate Audio Intro", "type": "main", "index": 0}]]},
    "Generate Audio Intro": {"main": [[{"node": "Upload Audio to Supabase", "type": "main", "index": 0}]]},
    "Upload Audio to Supabase": {"main": [[{"node": "Build Audio URL", "type": "main", "index": 0}]]},
    "Build Audio URL": {"main": [[{"node": "SendSpark Create Video", "type": "main", "index": 0}]]},
    "SendSpark Create Video": {"main": [[{"node": "Update Airtable Enriched", "type": "main", "index": 0}]]},
    "Update Airtable Enriched": {"main": [[{"node": "Send Email", "type": "main", "index": 0}]]},
    "Send Email": {"main": [[{"node": "Mark In Campaign", "type": "main", "index": 0}]]},
    "Mark In Campaign": {"main": [[{"node": "Wait 45s", "type": "main", "index": 0}]]},
    "Wait 45s": {"main": [[{"node": "Split Into Batches", "type": "main", "index": 0}]]},
    "Error Trigger": {"main": [[{"node": "Handle Error", "type": "main", "index": 0}]]},
    "Manual Test Webhook": {"main": [[{"node": "Fetch New Leads", "type": "main", "index": 0}]]},
    "Schedule Trigger": {"0": [[{"node": "Fetch New Leads", "type": "0", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {
    "exportedAt": "2026-02-05T09:45:00.000Z",
    "version": 98,
    "nodeCount": 27
  }
}
