listing_builder/n8n_workflows_backup/WF2_Inbox_Management.json
{
  "id": "hijPkxgWKGUnRLAI",
  "name": "[OUTREACH] Inbox Management - v1",
  "active": true,
  "nodes": [
    {
      "id": "im1",
      "name": "Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "inbox-handler",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "webhookId": "inbox-handler-webhook-001"
    },
    {
      "id": "im2",
      "name": "Find Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "filterByFormula", "value": "={Email Address}='{{ $json.body.from_email || $json.body.email || '' }}'"},
            {"name": "maxRecords", "value": "1"}
          ]
        },
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "im3",
      "name": "Groq Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.1-8b-instant',messages:[{role:'system',content:'Classify this email reply. Return JSON only.\\n\\nCategories:\\n- \"interested\": wants to talk, call, meet, said yes, positive response\\n- \"more_info\": asked about pricing, services, how it works\\n- \"not_interested\": said no, not a fit, wrong person, decline\\n- \"out_of_office\": auto-reply, vacation, OOO\\n- \"unsubscribe\": remove me, stop emailing, spam complaint\\n\\nReturn: {\"category\": \"...\", \"confidence\": 0.0-1.0}'},{role:'user',content:'Reply text: ' + ($('Reply Webhook').item.json.body.reply_text || $('Reply Webhook').item.json.body.text || $('Reply Webhook').item.json.body.message || 'No text')}],temperature:0.1,max_tokens:100}) }}",
        "options": {}
      }
    },
    {
      "id": "im4",
      "name": "Parse Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Groq classification and map to Airtable fields\nlet category = 'unknown';\nlet confidence = 0;\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim());\n  category = parsed.category || 'unknown';\n  confidence = parsed.confidence || 0;\n} catch(e) {\n  category = 'unknown';\n  confidence = 0;\n}\n\n// Map category to Airtable Status and Reply Category\nconst statusMap = {\n  'interested': { status: 'Interested', reply: 'Ready to Schedule' },\n  'more_info': { status: 'Replied', reply: 'More Info' },\n  'not_interested': { status: 'Not Interested', reply: 'Not Interested' },\n  'out_of_office': { status: 'Replied', reply: 'Out of Office' },\n  'unsubscribe': { status: 'Do Not Contact', reply: 'Unsubscribe' }\n};\n\nconst mapped = statusMap[category] || { status: 'Replied', reply: 'Unknown' };\n\n// Get record ID from Find Lead\nconst findLeadData = $('Find Lead').item.json;\nconst recordId = (findLeadData.records && findLeadData.records.length > 0) ? findLeadData.records[0].id : '';\n\nreturn { json: { category, confidence, airtableStatus: mapped.status, replyCategory: mapped.reply, recordId } };"
      }
    },
    {
      "id": "im5",
      "name": "Has Record?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "loose"},
          "conditions": [{"id": "rec-check", "leftValue": "={{ $json.recordId }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "im6",
      "name": "Update Airtable Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/app5WsWRsNy7LPpjk/Leads/{{ $json.recordId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ typecast: true, fields: { 'Status': $json.airtableStatus, 'Reply Category': $json.replyCategory, 'Notes': 'Reply classified as ' + $json.category + ' (confidence: ' + $json.confidence + ') on ' + new Date().toISOString() } }) }}",
        "options": {}
      },
      "credentials": {"httpHeaderAuth": {"id": "AY4rmZFlyRN1obOA", "name": "Airtable SSS"}}
    },
    {
      "id": "im7",
      "name": "Groq Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:'Draft a brief, helpful reply to this prospect who responded to our AI automation outreach. Keep it under 50 words, professional, warm. If they are interested, suggest a 15-min call. If they want more info, briefly explain our AI automation services. Return JSON: {\"draft_reply\": \"...\"}'},{role:'user',content:'Category: ' + $json.category + '\\nOriginal reply: ' + ($('Reply Webhook').first().json.body.reply_text || $('Reply Webhook').first().json.body.text || 'No text')}],temperature:0.7,max_tokens:200}) }}",
        "options": {}
      }
    },
    {
      "id": "im8",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processed', category: $('Parse Category').first().json.category, confidence: $('Parse Category').first().json.confidence, record_updated: $('Parse Category').first().json.recordId ? true : false, draft_reply: $json.choices ? JSON.parse($json.choices[0].message.content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim()).draft_reply : null }) }}",
        "options": {}
      }
    },
    {
      "id": "im9",
      "name": "Respond No Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"no_lead_found\",\"category\":\"{{ $('Parse Category').first().json.category }}\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Reply Webhook": {"main": [[{"node": "Find Lead", "type": "main", "index": 0}]]},
    "Find Lead": {"main": [[{"node": "Groq Classify", "type": "main", "index": 0}]]},
    "Groq Classify": {"main": [[{"node": "Parse Category", "type": "main", "index": 0}]]},
    "Parse Category": {"main": [[{"node": "Has Record?", "type": "main", "index": 0}]]},
    "Has Record?": {"main": [[{"node": "Update Airtable Status", "type": "main", "index": 0}], [{"node": "Respond No Lead", "type": "main", "index": 0}]]},
    "Update Airtable Status": {"main": [[{"node": "Groq Draft Reply", "type": "main", "index": 0}]]},
    "Groq Draft Reply": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {
    "exportedAt": "2026-02-05T09:45:00.000Z",
    "version": 24,
    "nodeCount": 9
  }
}
